body {
    background-color: red;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a.feed__add_post {
    height: 75px;
    font-size: 36px;
    color: black;
    text-decoration: none;
    text-align: center;
}

a.feed__add_comment {
    height: 75px;
    margin-left: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color:  #454f6c;
}

.feed__post_meta {
    margin-left: 0.5em;
}

.feed__post_body {
    margin-left: 1em;
}

.feed__form_button {
    margin-left: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color:  #454f6c;
}