{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-white w-100"></div>
    {% for post in posts %}
        <div class="bg-white w-100">{{ post.postText }} <strong>Author: {{ post.dog.username }}</strong></div>
    {% endfor %}
{% endblock %} 