{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for post in posts %}
            <li>{{ post.postText }} <strong>Author: {{ post.dogID.username }}</strong></li>
        {% endfor %}
    </ul>
{% endblock %}