{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h1 class="display-1 py-4">Welcome to Dogebook</h1>
        <h3 class="lead">Here to connect dogs of all kinds</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, provident!</p>
        <!-- Images aren't loading -->
    </section>
{% endblock %}