{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h1>Here to connect dogs of all kinds</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, provident!</p>
        <!-- Images aren't loading -->
        <img src="{{ asset('build/images/doge.jpeg') }}" alt="the doge.">
    </section>
{% endblock %}