{% extends 'base.html.twig' %}

{% block body %}
    <section>
    {%if is_granted("IS_AUTHENTICATED_FULLY")%}
        {{app.user.username}}
    {% else %}
        <p>You need to log in</p>
    {% endif %}
    </section>
{% endblock %}